<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main menu</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
</head>

<body>

<nav class="teal">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Biblioteka</a>
    </div>
</nav>
<div align="center">
    <p>
        <span><a href="/borrowBook">Wypożycz książkę</a></span>
        <span>|</span>
        <span><a href="/addUser">Dodaj czytelnika</a></span>
        <span>|</span>
        <span><a href="/allReaders">Wyszukaj czytelnika</a></span>
        <span>|</span>
        <span><a href="/allBooks">Wyszukaj książkę</a></span>
        <span>|</span>
        <span><a href="/addBooks">Dodaj książkę</a></span>

    </p>
</div>

</body>

</html>