<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lista czytelnikw</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">

    </head>

    <body>

    <nav class="teal">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Biblioteka</a>
        </div>
    </nav>
        <main>

            <form action="#" th:action="@{/allReadersByName}" method="post">

                    <fieldset>
                        <legend>Wyszukaj Użytkownika:</legend>
                        <input type="text" name="name">
                        <button type="submit">Wyszukaj</button>
                    </fieldset>

                <div class="container">
                    <table id="library-table" class="striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Imię</th>
                            <th>Nazwisko</th>
                            <th>Email</th>
                            <th>Nr. telefonu</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="readers2 : ${reader}">
                            <td th:text="${readers2.id}"></td>
                            <td th:text="${readers2.name}"></td>
                            <td th:text="${readers2.surname}"></td>
                            <td th:text="${readers2.email}"></td>
                            <td th:text="${readers2.phoneNumber}"></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
                <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

                <a href="/home">Wróć do głównego menu</a>
            </form>
        </main>
    </body>
</html>