<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lista Książek</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">

    </head>

    <body>

    <nav class="teal">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Biblioteka</a>
        </div>
    </nav>
        <main>

            <form action="#" th:action="@{/allBooksByKeyword}" method="post">

                    <fieldset>
                        <legend>Wyszukaj książkę:</legend>
                        <input type="text" name="keyword">
                        <button type="submit">Wyszukaj</button>
                    </fieldset>
                <div class="container">
                    <table id="library-table" class="striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tytuł</th>
                            <th>Autor</th>
                            <th>ISBN</th>
                            <th>Akcje</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="books2 : ${book}">
                            <td th:text="${books2.id}"></td>
                            <td th:text="${books2.title}"></td>
                            <td th:text="${books2.author}"></td>
                            <td th:text="${books2.isbn}"></td>
                            <td>
                                <a th:href="@{/updateBook/{id}(book=${book.id})}" class="btn btn-info">Edytuj</a>
                                <!<a th:href="@{/deleteBook/{id}(id=${book.id})}" class="btn btn-danger">Delete</a>-->
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
                <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

                <a href="/home">Wróć do głównego menu</a>
            </form>
        </main>
    </body>
</html>