<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rejestracja czytelnika</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    </head>

    <body>

    <nav class="teal">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Biblioteka</a>
        </div>
    </nav>
        <main>
            <form action="#" th:action="@{/borrowBook}" th:object="${borrow}" method="post">
                <fieldset>
                    <legend>Wypożycz książkę</legend>
                    <label>ID czytelnika</label>
                    <input type="number" th:field="*{readerId}">
                    <label>ID Książki:</label>
                    <input type="number" th:field="*{bookId}">
                    <label>Data Wypożyczenia</label>
                    <input type="date" th:field="*{borrowDate}">
                    <label>Data Zwrotu</label>
                    <input type="date" th:field="*{returnDate}">
                    <label>Komentarz</label>
                    <input type="text" th:field="*{comment}">
                    <button type="submit">Dodaj</button>
                </fieldset>
                <a href="/home">Wróć do głównego menu</a>
            </form>
        </main>
    </body>
</html>