<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register books</title>
        <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm_theme_mischka.css">
    </head>

    <body>
        <main>
            <form action="#" th:action="@{/addReader}" th:object="${reader}" method="post">
                <fieldset>
                    <legend>Zarejestruj się</legend>
                    <label>Imię:</label>
                    <input type="text" th:field="*{name}">
                    <label>Nazwisko:</label>
                    <input type="text" th:field="*{surname}">
                    <label>Email:</label>
                    <input type="email" th:field="*{email}">
                    <label>Numer Telefonu:</label>
                    <input type="number" th:field="*{phoneNumber}">
                    <button type="submit">Rejestracja</button>
                </fieldset>
                <a href="/home">Wróć do głównego menu</a>
            </form>
        </main>
    </body>
</html>